<!DOCTYPE html>
<html>
    <head>
        <title>Site invitex</title>
        <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">
        <link rel="stylesheet" type="text/css" href="/static/admin/css/dashboard.css">
        <link rel="stylesheet" type="text/css" href="/static/admin/css/wigets.css">
        <link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css">
        <link rel="stylesheet" type="text/css" href="/static/admin/css/fonts.css">
        <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/static/admin/css/responsive.css">
        <meta name="robots" content="NONE,NOARCHIVE">
    </head>
    <body class=" dashboard">
        <div id="container">
            <!-- Header -->
            <div id="header">
                <div id="branding">
                    <h1 id="site-name">
                        <a href="/">Invitex</a>
                    </h1>
                </div>
                <div id="user-tools">Welcome,
                    <strong>a10</strong>
                    .
                    <a href="/">View site</a>
                    /
                    <a href="/admin/">administration</a>
                    <a href="/admin/password_change/">Change password</a>
                    /
                    <a href="/admin/logout/">Log out</a>
                </div>
            </div>
            <div class="main shifted" id="main">
                <div class="content">
                    <!-- Content -->
                    <div id="content" class="colMS">
                        <div id="content-main">
                            <div class="app-auth module">
                                <div id="root">Hi!</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="content-related">
                <div class="module" id="recent-actions-module">
                    <h2>Wellcome!</h2>
                </div>
            </div>
            <div id="footer">
        </div>
        </div>
    </body>
</html>
