{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html>
    <head>
        <title>
            {% block title %}
            Site invitex
            {% endblock %}
        </title>
    {%  block head %}
        <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">
        <link rel="stylesheet" type="text/css" href="/static/admin/css/dashboard.css">
        <link rel="stylesheet" type="text/css" href="/static/admin/css/wigets.css">
        <link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css">
        <link rel="stylesheet" type="text/css" href="/static/admin/css/fonts.css">
        <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/static/admin/css/responsive.css">
        <meta name="robots" content="NONE,NOARCHIVE">
    </head>
    {% endblock %}
    <body class=" dashboard">
        <div id="container">
            {% block header %}
            <div id="header">
                <div id="branding">
                    <h1 id="site-name">
                        <a href="/">Invitex</a>
                    </h1>
                </div>
                    <a href="/">View site</a>
                <div id="user-tools">
                    {% if not user.is_anonymous %}
                    Welcome,
                    <strong>{{ user.username }}</strong>.
                        <a href="{% url 'admin:index' %}">
                            Admin panel
                        </a>
                        <a href="{% url 'admin:password_change' %}">
                            Admin password change
                        </a>
                        <a href="{% url 'admin:logout' %}">
                            Admin logout
                        </a>
                    {% else %}
                        <a href="{% url 'admin:login' %}">
                            Admin login
                        </a>
                    {% endif %}
                </div>
                </div>
            </div>
            {% endblock %}
            <div class="main shifted" id="main">
                <div class="content">
                    {% block content %}
                    <div id="content" class="colMS">
                        <div id="content-main">
                            <div class="app-auth module">
                                <div id="root">
<!--
                                Hi!
-->
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endblock %}
                </div>
            </div>
            {% block content_related %}
<!--
            <div id="content-related">
                <div class="module" id="recent-actions-module">
                    <h2>Wellcome!</h2>
                </div>
            </div>
-->
            {% endblock %}
            <div id="footer">
        </div>
        </div>
    </body>
</html>
